
data/nki/.DS_Store
data/.DS_Store
data/nki/deriv/sub-A00013809/.DS_Store
data/nki/deriv/sub-A00013809/ses-DS2/.DS_Store
data/nki/deriv/sub-A00013809/ses-DS2/dwi/.DS_Store
.ipynb_checkpoints/
.DS_Store
dwitracts/__pycache__/__init__.cpython-36.pyc
dwitracts/__pycache__/__init__.cpython-37.pyc
dwitracts/__pycache__/glm.cpython-36.pyc
dwitracts/__pycache__/glm.cpython-37.pyc
dwitracts/__pycache__/main.cpython-36.pyc
dwitracts/__pycache__/main.cpython-37.pyc
dwitracts/__pycache__/pff.cpython-37.pyc
dwitracts/__pycache__/plot.cpython-36.pyc
dwitracts/__pycache__/plot.cpython-37.pyc
dwitracts/__pycache__/utils.cpython-36.pyc
dwitracts/__pycache__/utils.cpython-37.pyc
